<div class="">
  <ul>
    <li>starting balance: <%=@financial_transactions.first.starting_balance%></li>
    <li>ending balance: <%=@financial_transactions.last.starting_balance + @financial_transactions.last.amount%></li>
  </ul>
</div>
